# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.py[cod]

# venv
venv/
.venv/

# tests
tests/assets/
tests/**/assets/
tests/**/*.jpg
tests/**/*.jpeg
tests/**/*.png
tests/**/*.webp
!tests/assets/README.md

# macOS
.DS_Store
